<!DOCTYPE html> 
 
<html> 
 
<head>     <link rel="stylesheet" href="/css/styles.css">    
</head> 
 
<body>     
      {{>header}} 

     <input type="text" name="mytext" required />
      <input type="text" name="mytext1" required />
    <input type="submit" value="Submit" />

    
    </body> 
 
</html> 