<!DOCTYPE html> 
 
<html> 
 
<head>     <link rel="stylesheet" href="/css/styles.css">    
</head> 
 
<body>     
      {{>header}} 


    <h3>{{title}}</h3>     
    <p>Created by {{name}}</p> 
    
    </body> 
 
</html> 