<!DOCTYPE html> 
 
<html> 
 
<head>     <link rel="stylesheet" href="/css/styles.css">    
</head> 
 
<body>     
      {{>header}} 

<form action="/submit-student-data" method="post">
      
     

       <h1>Crud Operation Page</h1>
    <table>
        <tr>
            <td>First Name:</td>
            <td>
             <input name="firstName" type="text" required /> 
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>
                <input name="lastName" type="text" required/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                 <input type="submit" name="crud" value="add">
            </td>
        </tr>
    </table>
    </form>
 
    
    </body> 
 
</html> 